# For the time being, you can basically copy this file as-is to your .env.
# When we start to use HTTPS and secrets, this approach might change
GIT_REPO=https://github.com/AndreFavotto/epicsWebSuite.git
GIT_TAG=dev
DEV_PORT=5173
PROD_PORT=80
#PVWS
PVWS_SOURCE="https://github.com/ornl-epics/pvws.git"
PVWS_GIT_TAG=main
PVWS_PORT=8080
PVWS_DOCKER_TAG=latest
