/* Root container */
.app {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

/* Area below the AppBar */
.designerArea {
  display: flex;
  flex: 1 1 auto;
  flex-direction: row;
  margin-top: 64px; /* Height of AppBar Toolbar (default MUI) */
}

/* Sidebar */
.widgetSelector {
  height: 100%;
}

/* Central grid area */
.grid {
  flex: 1 1 auto;
  height: 100%;
}

/* Property editor on the right */
.propertyEditor {
  height: 100%;
}
